<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	
	<dubbo:application name="dubbo-test" />

	
	<dubbo:registry address="zookeeper://10.1.240.109:2181"/>
<!--	<dubbo:registry address="zookeeper://newprod.dev.cn:2181"/>-->
<!--	<dubbo:registry address="zookeeper://10.1.61.141:2181"/>-->




<!--	<dubbo:protocol name="dubbo" port="8120" serialization="kryo"/>-->


<!--	<dubbo:monitor protocol="${dubbo.monitor.protocol}" />-->

<!--	<dubbo:protocol id="datacenter-health" name="rest"-->
<!--					port="${eagle.datacenter.rest.port}" server="servlet" contextpath="datacenterApiservice"-->
<!--					extension="uyun.eagle.common.rest.ext.RPCExceptionMapper,uyun.eagle.common.rest.ext.RestExceptionMapper,-->
<!--					uyun.eagle.common.rest.ext.ResolverObjectMapper,uyun.eagle.common.rest.ext.AuthFilter" />-->

<!--	<dubbo:reference id="resPermissionService" interface="uyun.pacific.resource.api.service.ResPermissionService"/>-->
<!--	<dubbo:reference id = "notifyServiceCommon" interface="uyun.bird.notify.api.NotifyServiceCommon"/>-->
<!--	<dubbo:reference id = "alertQueryService" interface="uyun.indian.reader.api.AlertQueryService" check="false"/>-->
	<dubbo:reference id="metricMetaService"
					 interface="uyun.indian.model.api.MetricMetaService"
					 check="false"
					 timeout="10000" />

<!--	<dubbo:reference id="alertQueryService" interface="uyun.indian.reader.api.AlertQueryService" check="false"/>-->

<!--	<bean class="uyun.eagle.datacenter.impl.common.ServiceManager" id="serviceManager"-->
<!--		  factory-method="getInstance">-->
<!--		<property name="resClassService" ref="resClassService"/>-->
<!--		<property name="resObjectService" ref="resObjectService"/>-->
<!--		<property name="resAttributeService" ref="resAttributeService"/>-->
<!--		<property name="beringTagService" ref="beringTagService"/>-->
<!--		<property name="writerService" ref="writerService"/>-->
<!--		<property name="readerService" ref="readerService"/>-->
<!--		<property name="stateService" ref="stateService"/>-->
<!--		<property name="alertQueryService" ref="alertQueryService"/>-->
<!--		<property name="eventQueryService" ref="eventQueryService"/>-->
<!--		<property name="alertOperationService" ref="alertOperationService"/>-->
<!--	</bean>-->

	<context:component-scan base-package="pers.lls.dubbotest" />

</beans>
