<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	
	<dubbo:application name="dubbo-test" />

	
	<dubbo:registry address="zookeeper://10.1.61.155:2181"
					client="curator"
					timeout="30000"/>

	
	<dubbo:protocol name="dubbo"
					port="8120"
					serialization="kryo"/>


	<dubbo:monitor protocol="${dubbo.monitor.protocol}" />

	<dubbo:protocol id="datacenter-health"
					name="rest"
					port="${eagle.datacenter.rest.port}"
					server="servlet"
					contextpath="datacenterApiservice"
					extension="uyun.eagle.common.rest.ext.RPCExceptionMapper,
					uyun.eagle.common.rest.ext.RestExceptionMapper,
					uyun.eagle.common.rest.ext.ResolverObjectMapper,
					uyun.eagle.common.rest.ext.AuthFilter" />

	<dubbo:reference id="alertQueryService" interface="uyun.indian.reader.api.AlertQueryService"/>

</beans>
